In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv("dataset/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [25]:
df['species']=le.fit_transform(df['species'])

In [26]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width  species
16            5.4          3.9           1.3          0.4        0
134           6.1          2.6           5.6          1.4        2
66            5.6          3.0           4.5          1.5        1
148           6.2          3.4           5.4          2.3        2
55            5.7          2.8           4.5          1.3        1
31            5.4          3.4           1.5          0.4        0
6             4.6          3.4           1.4          0.3        0
124           6.7          3.3           5.7          2.1        2
68            6.2          2.2           4.5          1.5        1
64            5.6          2.9           3.6          1.3        1

In [27]:
from sklearn.model_selection import train_test_split

In [32]:
x = df.iloc[:,0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [33]:
y=df.iloc[:,-1]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [34]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [38]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion='entropy',splitter='random')

In [39]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', splitter='random')

In [41]:
pred=dtc.predict(x_test)
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [42]:
from sklearn.metrics import accuracy_score,confusion_matrix
print('accuracy of decision tree',accuracy_score(y_test,pred))

accuracy of decision tree 0.9666666666666667

In [45]:
print('decision tree confusion matrix')
pd.DataFrame(confusion_matrix(y_test,pred),columns=list(range(0,3)))

decision tree confusion matrix

    0   1  2
0  11   0  0
1   0  13  0
2   0   1  5

In [46]:
result=pd.DataFrame()
result['actual label']=y_test
result['decision tree predicition']=pred

In [47]:
result

     actual label  decision tree predicition
114             2                          2
62              1                          1
33              0                          0
107             2                          2
7               0                          0
100             2                          2
40              0                          0
86              1                          1
76              1                          1
71              1                          1
134             2                          1
51              1                          1
73              1                          1
54              1                          1
63              1                          1
37              0                          0
78              1                          1
90              1                          1
45              0                          0
16              0                          0
121             2                          2
66              1                          1
24              0                          0
8               0                          0
126             2                          2
22              0                          0
44              0                          0
97              1                          1
93              1                          1
26              0                          0

In [56]:

# import seaborn as sns
# sns.kdeplot(data=result)